body {
  font-family: "Open Sans", sans-serif;
}

.font-secondary {
  font-family: "Roboto", sans-serif;
}

.font-header {
  font-family: "Ubuntu", sans-serif;
}

/* scrollbar styling */
::-webkit-scrollbar {
  width: 0.5vw;
  height: 0.5vw;
}
::-webkit-scrollbar-thumb {
  background-image: radial-gradient(at 50% 50%, theme("colors.slate.200") 0%, theme("colors.slate.500") 100%);
  border-radius: 0.5vw;
}
::-webkit-scrollbar-track {
  background-color: theme("colors.slate.700");
}

/* Styling for My Assets Carousel Menu */
.assets-carousel-dots {
  position: relative;
  transform-origin: 0%;
  transform: translateX(-110%) translateY(-40vmax);
  overflow-y: auto;
  max-height: 40vmax;
  display: flex !important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: white solid 2px;
  border-radius: 10px;
  width: fit-content;
  padding: 20px 6px 20px 6px;
}

.assets-carousel-dots li {
  width: 100%;
  height: fit-content;
  cursor: pointer;
  margin-top: 10px;
}

.assets-carousel-dots li div:hover,
.assets-carousel-dots li div:focus {
  color: theme("colors.sky.500");
  background-image: linear-gradient(to bottom right, theme("colors.slate.800"), theme("colors.slate.700"));
}

.assets-carousel-dots li.slick-active {
  box-shadow: #4158d0 0px 0px 0px 2px;
  color: theme("colors.sky.500");
}

/* glossy finish for UP card in MLW DApp */
.glassmorphism {
  background-color: #dedcfa;
  background-image: radial-gradient(at 83% 67%, rgb(152, 231, 156) 0, transparent 58%),
    radial-gradient(at 13% 17%, rgb(152, 231, 156) 0, transparent 18%), radial-gradient(at 67% 20%, hsla(357, 94%, 71%, 1) 0, transparent 59%),
    radial-gradient(at 88% 35%, hsla(222, 81%, 65%, 1) 0, transparent 50%), radial-gradient(at 31% 91%, hsla(9, 61%, 61%, 1) 0, transparent 52%),
    radial-gradient(at 27% 71%, hsla(336, 91%, 65%, 1) 0, transparent 49%), radial-gradient(at 74% 89%, hsla(30, 98%, 65%, 1) 0, transparent 51%),
    radial-gradient(at 53% 75%, hsla(174, 94%, 68%, 1) 0, transparent 45%);
}

/* background styles for LSP8 cards */
.token-topography {
  background-image: url("./assets/card_bgs/topography.svg");
}

/* .token-wavy {
  background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #010507 25px),
    repeating-linear-gradient(#444cf755, #e980cf);
} */

/* .token-glamorous {
  background-image: url("./assets/card_bgs/glamorous.svg");
}

.token-signal {
  background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23fd7bff' fill-opacity='0.47' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.token-diagonal-lines {
  background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23fc50ff' fill-opacity='0.34' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
} */

/*----- sweet alerts styling -----*/
.swal-text {
  color: white;
  white-space: pre-line;
}

.swal-title,
.swal2-title {
  font-size: 1.125rem;
  color: white;
  white-space: pre-line;
}

.swal-modal {
  background-image: linear-gradient(to bottom right, theme("colors.slate.800"), theme("colors.slate.700"));
  border: 3px solid white;
  border-radius: 20px;
}

.swal-icon--success::before,
.swal-icon--success::after,
.swal-icon--success__hide-corners {
  background: none;
}

.swal-button {
  background-image: linear-gradient(to top, theme("colors.green.700"), white);
  color: white;
}

.swal-button:hover {
  background-image: linear-gradient(to bottom, theme("colors.green.700"), white);
  color: black;
}

.swal-button--cancel {
  background-image: linear-gradient(to top, theme("colors.slate.700"), white);
}

.swal-button--cancel:hover {
  background-image: linear-gradient(to bottom, theme("colors.slate.700"), white);
}

.metal-bg {
  background-image: url("./assets/Home/circuit-board.svg");
  background-repeat: none;
}

/*----- image perspective for home page images -----*/
.perspective-l {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(2px);
  opacity: 0.5;
}

.perspective-l-animation {
  animation: customPerspectiveL 3s forwards;
}

@keyframes customPerspectiveL {
  100% {
    transform: perspective(800px) rotateY(-15deg) translateY(-50px) rotateX(10deg) scale(1);
    filter: blur(0);
    opacity: 1;
  }
}

.perspective-r {
  transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
  filter: blur(1px);
  opacity: 0.5;
}

.perspective-r-animation {
  animation: customPerspectiveR 3s forwards;
}

@keyframes customPerspectiveR {
  100% {
    transform: perspective(800px) rotateY(15deg) scale(1.1) rotateX(10deg);

    filter: blur(0);
    opacity: 1;
  }
}

/*----- cards for home page images -----*/
.LSP-card-home {
  background-color: #17141d;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.6s ease-out;
}

.LSP-card-home:not(:first-child) {
  margin-left: -350px;
}

.LSP-card-home:hover {
  transform: translateY(-20px);
  z-index: 99;
  transition: 0.3s ease-out;
}

.LSP-card-home:hover ~ .LSP-card-home {
  position: relative;
  left: 50px;
  transition: 0.3s ease-out;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
